.product-tile {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-text);
    overflow-wrap: break-word;
    text-align: center;
}

.productimg img {
    width: 300px;
    height: 300px;
}

.product-add-to-bag button {
    border-radius: 10px; /* to round up the edges*/
    border: 1px solid var(--color-gold);
    width: 100%;
    background: transparent;
    color: var(--color-gold);
    font-size: 20px;
    font-weight: 400;
    
}

.product-add-to-bag button:hover {
    background-color: var(--color-gold);
    color: var(--color-bg);
    border: 1px solid var(--color-bg);
}