.homediv {
    background-color: var(--color-bg);
}

.heroimage img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.brand-quote {
    font-size: 30px;
    font-weight: 400;
    color: var(--color-text);
    overflow-wrap: break-word;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid var(--color-gold);
    border-bottom: 1px solid var(--color-gold);
}

.top-carousel {
    display: flex;
    /* justify-content: space-between; */
    gap: 20px; /* gap between the child elemnts*/

    /* tells the browser "if content is wider than this container, add horizontal scroll instead of breaking to a new line." */
    overflow-x: auto;  
    /*keep the scroll bar behaviour (coming from overflow) but hide the bar */
    scrollbar-width: none;
    padding: 20px;
    /* X : snapping happens on the horizontal axis, mandatory : the browser always snaps somewhere when scrolling stops. The alternative, proximity, only snaps if you happen to land close to a snap point already*/
    scroll-snap-type: x mandatory;
    /* turn off the native browser behaviour of selecting the text when tries to drag*/
    user-select: none;

    /*Cusrsor style*/
    cursor: grab
}

.top-carousel.dragging {
    cursor: grabbing;
}

.carousel-track-wrapper {
    position: relative;
}

#carousel-arrows {
    position:absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* pins all four edges — top, right, bottom, left — to 0, which forces the element to stretch and match its relative parent's full size exactly*/
    inset: 0;
    /* lets everything pass through to the tiles beneath it; */
    pointer-events: none;
}

#carousel-arrows button {
    pointer-events: auto;
}

#carousel-arrows > #left-button {
    width: min(100px, 50%);
    aspect-ratio: 2 /1;
    border-radius: 0px 100px 100px 0px;
    background: var(--color-bg);
    opacity: 0.8;
    color: var(--color-gold);

}

#carousel-arrows > #right-button {
    width: min(100px, 50%);
    aspect-ratio: 2 /1;
    border-radius: 100px 0 0 100px;
    background: var(--color-bg);
    opacity: 0.8;
    color: var(--color-gold);

}

#carousel-arrows > #left-button:hover, #carousel-arrows > #right-button:hover {
    background-color: var(--color-gold);
    color: var(--color-bg);
}

.carousel-heading {
    font-size: 30px;
    font-weight: 400;
    color: var(--color-text);
    text-align: center;
    padding: 40px;
}