#plp-heading {
    background-color: var(--color-bg);
    color: var(--color-gold);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
}

#plp-container {
    display: flex;
    background-color: var(--color-bg);
    padding: 10px;
}

#plp-filters {
    flex: 1;
    color: var(--color-text);
}

#plp-products {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}